<div
  *ngIf="vm$ | async as vm"
  class="wm-track-remaining-distance"
  [class.wm-track-remaining-distance-stale]="vm.stale"
>
  <span class="wm-track-remaining-distance-icon">
    <i class="icon-outline-distance"> </i>
  </span>
  <div class="wm-track-remaining-distance-text">
    <span class="wm-track-remaining-distance-value">
      {{ vm.remainingDistance | distance: 'auto':1 }} {{ 'al termine del percorso' | wmtrans }}
    </span>
    <span class="wm-track-remaining-distance-caption">
      <ng-container *ngIf="vm.stale; else fresh">
        {{ 'Posizione GPS non aggiornata' | wmtrans }}
      </ng-container>
      <ng-template #fresh>
        <ng-container *ngIf="vm.progressPercent != null">
          {{ vm.progressPercent }}% {{ 'del percorso completato' | wmtrans }}
        </ng-container>
      </ng-template>
    </span>
  </div>
</div>
