<div class="filter-button" id="open-modal">
  {{'Filtri'|wmtrans}}
  <ion-icon name="funnel-outline"></ion-icon>
</div>

<ion-modal trigger="open-modal">
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-button (click)="cancel()">
            <ion-icon name="close"></ion-icon>
          </ion-button>
        </ion-buttons>
        <ion-title>{{'Filtri'|wmtrans}}</ion-title>
        <ion-buttons slot="end">
          <ion-button (click)="reset()" color="danger">reset</ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <ion-accordion-group value="poi_type">
        <ion-accordion [value]="tab" *ngFor="let tab of tabs$|async">
          <ion-item slot="header" color="light">
            <ion-label> {{tab}} {{pois.features.length}}</ion-label>
          </ion-item>
          <div class="ion-padding" slot="content">
            <div class="chip-list">
              <ng-container
                *ngFor="let item of (filters[tab]) | orderedBySelection:(currentFilters$|async)"
              >
                <ion-chip
                  *ngIf="stats[item.identifier]!= null"
                  outline="true"
                  (click)="addFilter(item.identifier)"
                  [color]="(currentFilters$|async).indexOf(item.identifier) >= 0? 'success': ''"
                >
                  <ng-container *ngIf="item.icon != null;else imgT">
                    <div appBuildSvg style="height:55%" [svg]="item.icon"></div>
                  </ng-container>
                  <ng-template #imgT>
                    <img [src]="item.identifier|getFilterIcn:(currentFilters$|async)" />
                  </ng-template>
                  <ion-label>{{item.name|wmtrans}}</ion-label>
                  <ng-container>
                    {{ item.identifier|wmhowmany:stats}}
                  </ng-container>
                </ion-chip>
              </ng-container>
            </div>
          </div>
        </ion-accordion>
      </ion-accordion-group>
    </ion-content>
  </ng-template>
</ion-modal>
