<div class="root">
  <ng-content></ng-content>
  <ng-container *ngIf="(confAPP$|async) as confAPP">
    <div class="wm-home-header-container" *ngIf="confAPP.welcome as welcome">
      <wm-inner-component-html
        [html]="welcome | wmtrans"
        [enableDismiss]="false"
      ></wm-inner-component-html>
    </div>
  </ng-container>
  <wm-searchbar
    *ngIf="(confMAP$|async)?.hitMapUrl==null &&(confOPTIONS$|async)?.show_searchbar && !(ugcOpened$|async) && (online$|async)"
    #searchCmp
    [initSearch]="''"
  >
  </wm-searchbar>
  <ng-container *ngIf="(popup$|async) as popup; else mainContent">
    <ion-row class="ion-justify-content-end">
      <ion-col size="auto">
        <ion-chip [outline]="true" (click)="closePopup()">
          {{ 'Torna alla home' | wmtrans }}
        </ion-chip>
      </ion-col>
    </ion-row>
    <wm-inner-component-html [html]="popup.html" [enableDismiss]="false"></wm-inner-component-html>
  </ng-container>
  <ng-template #mainContent>
    <wm-home-landing
      [ngClass]="{'hidden': showResult$ | async}"
      (slugBoxEVT)="openSlug($event[0], $event[1])"
      (externalUrlBoxEVT)="openExternalUrl($event)"
      (poisBoxEVT)="setPoi($event)"
      (tracksBoxEVT)="setTrack($event)"
      (layerBoxEVT)="setLayer($event[0], $event[1])"
      (ugcBoxEvt)="setUgc()"
    ></wm-home-landing>
    <ng-container *ngIf="showResult$|async">
      <wm-status-filter></wm-status-filter>
      <wm-home-ugc *ngIf="(ugcOpened$|async);else layerView"></wm-home-ugc>
      <ng-template #layerView>
        <wm-home-layer></wm-home-layer>
      </ng-template>
      <wm-home-result></wm-home-result>
    </ng-container>
    <wm-home-hitmap></wm-home-hitmap>
  </ng-template>
</div>
