<ng-container *ngIf="ecTrackProperties$|async as ecTrackProperties">
  <ion-label>Modalità di percorrenza</ion-label>
  <ion-segment value="walk" mode="ios" (ionChange)="onTravelModeChange($event)">
    <ion-segment-button value="walk">
      <ion-icon name="walk-outline"></ion-icon>
    </ion-segment-button>
    <ion-segment-button value="bike">
      <ion-icon name="bicycle-outline"></ion-icon>
    </ion-segment-button>
  </ion-segment>
  <ion-grid>
    <ion-row>
      <ion-col>
        <div class="to-delete">●○○</div>
        <div>{{'Difficoltà'|wmtrans}}</div>
      </ion-col>
      <ion-col>
        <div [innerHTML]="ecTrackProperties?.distance|distance:'km':1:'html'"></div>
        <div>{{'Lunghezza'|wmtrans}}</div>
      </ion-col>
      <ion-col>
        <div [innerHTML]="durention$|async|duration:'html'"></div>
        <div>{{'Orario previsto'|wmtrans}}</div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ng-container>