<app-left-bar (componentSelected)="onComponentSelected($event)"></app-left-bar>

<div class="wm-core-demo-component-container" id="main-content">
  <ng-container *ngIf="selectedComponent === 'webmapp-title'"
    ><app-webmapp-title></app-webmapp-title
  ></ng-container>

  <ng-container *ngIf="selectedComponent === 'wm-slug-box'">
    <app-wm-slug-box></app-wm-slug-box>
  </ng-container>

  <ng-container *ngIf="selectedComponent === 'wm-layer-box'">
    <app-wm-layer-box></app-wm-layer-box>
  </ng-container>

  <ng-container *ngIf="selectedComponent === 'wm-status-filter'">
    <app-wm-status-filter></app-wm-status-filter>
  </ng-container>

  <ng-container *ngIf="selectedComponent === 'wm-search-box'">
    <app-wm-search-box></app-wm-search-box>
  </ng-container>

  <ng-container *ngIf="selectedComponent === 'wm-poi-box'">
    <app-wm-poi-box></app-wm-poi-box>
  </ng-container>

  <ng-container *ngIf="selectedComponent === 'wm-horizontal-scroll-box'">
    <app-wm-horizontal-scroll-box></app-wm-horizontal-scroll-box>
  </ng-container>
</div>
