<app-left-bar (componentSelected)="onComponentSelected($event)"></app-left-bar>

<div class="wm-core-demo-component-container" id="main-content">
  <ng-container [ngSwitch]="selectedComponent">
    <app-webmapp-title
      class="wm-core-demo-component-content"
      *ngSwitchCase="'webmapp-title'"
    ></app-webmapp-title>
    <app-wm-slug-box
      class="wm-core-demo-component-content"
      *ngSwitchCase="'wm-slug-box'"
    ></app-wm-slug-box>
    <app-wm-layer-box
      class="wm-core-demo-component-content"
      *ngSwitchCase="'wm-layer-box'"
    ></app-wm-layer-box>
    <app-wm-status-filter
      class="wm-core-demo-component-content"
      *ngSwitchCase="'wm-status-filter'"
    ></app-wm-status-filter>
    <app-wm-search-box
      class="wm-core-demo-component-content"
      *ngSwitchCase="'wm-search-box'"
    ></app-wm-search-box>
    <app-wm-poi-box
      class="wm-core-demo-component-content"
      *ngSwitchCase="'wm-poi-box'"
    ></app-wm-poi-box>
    <app-wm-horizontal-scroll-box
      class="wm-core-demo-component-content"
      *ngSwitchCase="'wm-horizontal-scroll-box'"
    ></app-wm-horizontal-scroll-box>
    <app-demo-tab-detail class="wm-core-demo-component-content" *ngSwitchCase="'wm-tab-detail'">
    </app-demo-tab-detail>
    <app-demo-tab-howto
      class="wm-core-demo-component-content"
      *ngSwitchCase="'wm-tab-howto'"
    ></app-demo-tab-howto>
  </ng-container>
</div>
