<ng-container *ngIf="layer$|async as layer">
  <wm-img *ngIf="layer?.feature_image as img" [src]="img">
    <div class="wm-box-title" *ngIf="layer?.title as title">{{title | wmtrans}}</div>
    <wm-img
      *ngIf="layer?.logo_image | hasLogo"
      class="wm-home-layer-logo-overlay"
      [src]="layer.logo_image"
    ></wm-img>
    <i
      *ngIf="showFavoriteHeart$|async"
      class="wm-home-layer-favorite"
      [class.wm-home-layer-favorite--disabled]="isTogglingFavorite"
      [attr.aria-label]="(isFavorite$(layer)|async) ? ('Rimuovi dai preferiti'|wmtrans) : ('Aggiungi ai preferiti'|wmtrans)"
      [ngClass]="{
        'icon-fill-heart': isFavorite$(layer)|async,
        'icon-outline-heart': !(isFavorite$(layer)|async)
      }"
      (click)="onFavoriteClick($event, layer)"
    ></i>
  </wm-img>

  <wm-tab-description
    *ngIf="layer?.description as description"
    [description]="description"
  ></wm-tab-description>

  <wm-config-detail [groups]="layer?.config_detail"></wm-config-detail>
</ng-container>
