.webmapp-slider-box-header {
  padding: 0 15px;
}

.webmapp-slider-box {
  overflow: visible;
}
.webmapp-slider-box-nodata {
  padding: 10px 20px;
  color: var(--wm-color-darkgrey);
  font-size: var(--wm-font-sm);
}
