<form [formGroup]="formIdGroup" *ngIf="disabled === false">
  <ion-item class="wm-form-field" *ngIf="(forms$|async)?.length > 1; else withoutSelect">
    <ion-label class="wm-form-field-label" position="stacked">{{"Seleziona il tipo di form" | wmtrans}}</ion-label>
    <ion-select class="wm-form-field-select" formControlName="id">
      <ion-select-option
        *ngFor="let form of (forms$|async);let idx = index"
        [value]="idx"
        >{{form.label|wmtrans}}</ion-select-option
      >
    </ion-select>
  </ion-item>
  <ng-template #withoutSelect>
    <div class="wm-form-only-title" *ngIf="forms$|async as forms">
      <ion-label class="wm-form-field-label" position="stacked">{{"Tipo di form" | wmtrans}}</ion-label>
      <ion-title>{{ forms[0]?.label | wmtrans}}</ion-title>
    </div>
  </ng-template>
</form>
<ng-container *ngIf="(enableForm$|async) === true">
  <form [formGroup]="formGroup">
    <ng-container *ngIf="disabled; else modifiable">
      <ng-container *ngIf="(currentForm$|async) as currentForm">
        <div class="wm-ugc-form-title">
          <ng-content select="[header]"></ng-content>
          <div>{{"Form" | wmtrans}}</div>
        </div>
        <ion-list>
          <ion-item class="wm-ugc-form-item">
            <ion-label class="wm-ugc-form-label">
              <ion-icon name="keypad-outline"></ion-icon>
              {{'Tipologia di form'|wmtrans}}
            </ion-label>
            <ion-label slot="end" class="wm-ugc-form-value">
              <ion-badge>{{ currentForm.label | wmtrans }}</ion-badge>
            </ion-label>
          </ion-item>
          <ng-container *ngFor="let field of currentForm.fields; let idx = index">
            <ng-container *ngIf="!!formGroup.value[field.name]">
              <ion-item class="wm-ugc-form-item">
                <ion-label class="wm-ugc-form-label">
                  <i class="{{field.type | getFormFieldIcn}} wm-form-field-icon secondary"></i>
                  {{ field.label | wmtrans }}
                </ion-label>
                <ion-label slot="end" class="wm-ugc-form-value">
                  <ng-container *ngIf="field.type !== 'select'">
                    {{ formGroup.value[field.name] }}
                  </ng-container>
                  <ng-container *ngIf="field.type === 'select'">
                    {{ field.values | getFormFieldValue:formGroup.value[field.name] | wmtrans }}
                  </ng-container>
                </ion-label>
              </ion-item>
            </ng-container>
          </ng-container>
        </ion-list>
      </ng-container>
    </ng-container>
    <ng-template #modifiable>
      <ng-container *ngFor="let field of (currentForm$|async).fields">
        <ion-item class="wm-form-field">
          <i class="{{field.type|getFormFieldIcn}} wm-form-field-icon secondary"></i>
          <ion-label class="wm-form-field-label" position="stacked">
            {{ field.label | wmtrans }}
            <span *ngIf="field.required" class="wm-form-field-label-required"> * </span>
          </ion-label>
          <container-element [ngSwitch]="field.type">
            <ion-input
              *ngSwitchCase="'text'"
              [placeholder]="field.placeholder | wmtrans"
              [formControlName]="field.name"
              [disabled]="disabled"
              (click)="field.name === 'title' ? selectAllTitleText($event) : null"
              (ionInput)="field.name === 'title' ? capitalizeTitle($event) : null"
              [attr.e2e-form-input]="field.name"
            ></ion-input>

            <ion-textarea
              *ngSwitchCase="'textarea'"
              [formControlName]="field.name"
              [placeholder]="field.placeholder | wmtrans"
              [disabled]="disabled"
            ></ion-textarea>
            <ion-select
              *ngSwitchCase="'select'"
              class="wm-form-field-select"
              [formControlName]="field.name"
              [placeholder]="field.placeholder|wmtrans"
              [disabled]="disabled"
            >
              <ion-select-option
                *ngFor="let opt of field.values"
                [value]="opt.value"
                >{{opt.label|wmtrans}}</ion-select-option
              >
            </ion-select>
          </container-element>
        </ion-item>

        <div class="wm-form-field-error" *ngIf="formGroup.controls[field.name]?.errors as errors">
          <ng-container
            *ngIf="errors.required"
            >{{'questo campo è obbligatorio'|wmtrans}}</ng-container
          >
        </div>
        <ion-note
          class="wm-form-field-helper"
          *ngIf="field.helper as helper"
          >{{helper|wmtrans}}</ion-note
        >
      </ng-container>
    </ng-template>
  </form>
  <ng-content></ng-content>
</ng-container>
