wm-track-alert {
  padding-left: 20px;
  margin-bottom: 10px;
  order: -1;
  color: #ff0000;
  display: flex;
  flex-direction: row;
  align-items: center;

  ion-icon {
    font-size: 25px;
    align-self: center;
    margin: 2px;
    width: 90px;
  }
}
