wm-track-useful-urls {
  .wm-track-useful-urls-item {
    .wm-track-useful-urls-item-label {
      font-family: var(--wm-font-family-content);
    }
  }
  .webmapp-title {
    font-weight: var(--wm-font-weight-bold);
    font-size: var(--wm-font-lg);
  }
}
