<ion-grid>
  <ion-row>
    <ion-col size="12">
      <ion-text class="wm-image-picker-advice">{{"(" + ("massimo" | wmtrans) + " " + maxPhotos + " " + ("foto" | wmtrans) + ")"}}</ion-text>
    </ion-col>
  </ion-row>
  <ion-row *ngIf="!(photos|async)?.length">
    <ion-col size="6" *ngIf="(isMobile$|async)">
      <div class="wm-image-picker-loadphoto" (click)="takePhoto()">
        <div class="wm-image-picker-loadphoto-icon">
          <ion-icon name="camera-outline"></ion-icon>
        </div>
        <div class="wm-image-picker-loadphoto-advice">
          {{ "Scatta una foto" | wmtrans }}
        </div>
      </div>
    </ion-col>
    <ion-col size="6">
      <div class="wm-image-picker-loadphoto" (click)="addPhotosFromLibrary()">
        <div class="wm-image-picker-loadphoto-icon">
          <ion-icon name="images-outline"></ion-icon>
        </div>
        <div class="wm-image-picker-loadphoto-advice">
          {{ "Carica foto dalla libreria" | wmtrans }}
        </div>
      </div>
    </ion-col>
  </ion-row>

  <ion-row *ngIf="(photos|async) as photos">
    <ng-container *ngIf="photos?.length && photos.length < maxPhotos">
      <ion-col size="4">
        <div
          class="
          wm-image-picker-imagecontainer
          wm-image-picker-addimagecontainer
          wm-image-picker-loadphoto
        "
          (click)="takePhoto()"
        >
          <div class="wm-image-picker-loadphoto-icon">
            <ion-icon name="camera-outline"></ion-icon>
          </div>
          <div class="wm-image-picker-loadphoto-advice">
            {{ "Scatta una foto" | wmtrans }}
          </div>
        </div>
      </ion-col>
      <ion-col size="4">
        <div
          class="
          wm-image-picker-imagecontainer
          wm-image-picker-addimagecontainer
          wm-image-picker-loadphoto
        "
          (click)="addPhotosFromLibrary()"
        >
          <div class="wm-image-picker-loadphoto-icon">
            <ion-icon name="images-outline"></ion-icon>
          </div>
          <div class="wm-image-picker-loadphoto-advice">
            {{ "Carica foto dalla libreria" | wmtrans }}
          </div>
        </div>
      </ion-col>
    </ng-container>
    <ion-col size="4" *ngFor="let image of photos;let idx = index">
      <div class="wm-image-picker-imagecontainer">
        <ion-icon
          name="close-outline"
          class="wm-image-picker-remove"
          (click)="remove(idx, image)"
        >
        </ion-icon>
        <wm-ugc-synchronized-badge [properties]="image"></wm-ugc-synchronized-badge>
        <ng-container *ngIf="image as photoProp">
          <wm-img
            class="wm-image-picker-image"
            [src]="photoProp?.webPath"
          ></wm-img>
        </ng-container>
      </div>
    </ion-col>
  </ion-row>
</ion-grid>