wm-image-picker {
  .wm-image-picker-advice {
    font-size: var(--wm-font-sm);
    color: var(--wm-color-medium);
  }
  .wm-image-picker-loadphoto {
    padding: 16px;
    &.wm-image-picker-addimagecontainer {
      padding: 16px 10px;
    }
    border-radius: 15px;
    border: 2px var(--ion-color-light-shade, var(--wm-color-light-shade)) dashed;
    text-align: center;
    width: 100%;
    height: 108px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .wm-image-picker-loadphoto-text {
      font-size: var(--wm-font-sm);

      .wm-image-picker-loadphoto-action {
        display: inline;
        color: var(--wm-color-primary);
        font-weight: var(--wm-font-weight-bold);
      }
    }

    .wm-image-picker-loadphoto-icon {
      font-size: 28px;
      color: var(--wm-color-dark);
    }

    .wm-image-picker-loadphoto-advice {
      font-size: var(--wm-font-xsm);
    }
  }

  .wm-image-picker-imagecontainer {
    text-align: center;
    height: 100px;
    width: 108px;
    position: relative;
    border-radius: 15px;
    overflow: hidden;

    &.wm-image-picker-addimagecontainer {
      border: dashed var(--wm-color-grey, var(--wm-color-light-shade)) 2px;
    }

    .wm-image-picker-image {
      height: 100px;
      width: 108px;
      &::part(image) {
        object-fit: cover;
      }
    }

    .wm-image-picker-remove {
      position: absolute;
      top: 5px;
      right: 5px;

      height: 19px;
      width: 19px;
      border-radius: 10px;

      background: #ffffff;
      z-index: 1;
    }

    wm-ugc-synchronized-badge {
      display: flex;
      position: absolute;
      bottom: 5px;
      right: 5px;
      background: white;
      padding: 2px;
      border-radius: 50%;
      z-index: 1;
      > ion-icon {
        width: 16px;
        height: 16px;
      }
    }

    .wm-image-picker-add {
      font-size: 45px;
      color: var(--wm-color-dark);
      position: absolute;
      top: 50%;
      left: 50%;
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
    }
  }
}
