wm-inner-component-html {
  padding: max(5%, env(safe-area-inset-top)) max(5%, env(safe-area-inset-right))
    max(5%, env(safe-area-inset-bottom)) max(5%, env(safe-area-inset-left));
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-content: stretch;
  color: black;
  align-items: stretch;
  .dismiss {
    flex: 0 1 auto;
    align-self: auto;
    text-align: end;
    font-size: 40px;
    cursor: pointer;
  }
  .title {
    font-weight: var(--wm-feature-details-title-font-weight);
    font-size: var(--wm-feature-details-title-font-size);
    font-family: var(--wm-feature-details-title-font-family);
    color: var(--wm-feature-details-title-color);
    margin-bottom: 16px;
  }
  .content {
    overflow-y: auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    align-self: auto;
  }
}
