wm-ugc-medias {
  position: relative;
  display: block;
  margin: var(--wm-feature-details-margin);
  &:empty {
    margin: 0;
  }

  .wm-ugc-category-title{
    font-weight: var(--wm-feature-details-title-font-weight);
    font-size: var(--wm-feature-details-title-font-size);
    color: var(--wm-feature-details-title-color);
    font-family: var(--wm-feature-details-title-font-family);
  }

  swiper-container {
    margin-top: 16px !important;
    margin-bottom: 16px !important;
    width: -webkit-fill-available !important;
    position: relative;
    background-color: white !important;
    swiper-slide {
      max-height: 300px;
      overflow: hidden;
      border-radius: 15px;
      position: relative;
    }
  }

  ion-button {
    --background: var(--wm-color-light);
    --color: var(--wm-color-dark);
    --border-radius: 50%;
    --padding-start: 12px;
    --padding-end: 12px;
    width: 40px;
    height: 40px;
    z-index: 999;
    opacity: 0.8;

    &.left {
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      margin-left: 5px;
    }

    &.right {
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      margin-right: 5px;
    }
  }
}
