wm-track-properties {
  padding: 10px;
  display: block;
  bottom: 0;
  border-radius: 15px;
  background: white;
  width: 100%;
  z-index: 2;

  .wm-track-details-header {
    font-size: var(--font-md);
    color: #333333;
    font-style: normal;
    font-weight: 600;
    display: flex;
    align-items: center;
    flex: none;
    order: 0;
    flex-grow: 0;
    padding: 10px;
  }
  .wm-alert {
    order: -1;
    color: #ff0000;
    display: flex;
    flex-direction: row;
    ion-icon {
      font-size: 25px;
      align-self: center;
    }
    ion-label {
      align-self: center;
    }
  }
  .wm-flowline {
    height: 40px;
    .red {
      color: red;
    }
    .orange {
      color: orange;
    }
    .green {
      color: green;
    }
  }
  .webmapp-pagepoi-info-body {
    --padding-bottom: 30px;
    .webmapp-pagepoi-info-reference {
      padding: 3px 5px;
      font-size: var(--wm-font-sm);
      a {
        text-decoration: none;
        color: var(--wm-color-dark);
      }
      .webmapp-pagepoi-info-icon {
        color: var(--wm-color-primary);
      }
    }
    .webmapp-pagepoi-info-body-photoslider {
      padding: 10px 0;
      overflow: visible;
      .webmapp-pagepoi-info-body-photo {
        height: 150px;
        width: 250px;
        &::part(image) {
          border-radius: 15px;
        }
      }
    }
  }
}
