wm-status-filter {
  ion-row {
    width: 100%;
  }
  .chip-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: stretch;
    align-items: stretch;
    max-height: 200px;
    overflow: auto;
    .wm-status-filter-icn {
      height: 17px;
      * {
        height: 100%;
      }
    }
    ion-chip {
      order: 0;
      flex: 1 1 auto;
      align-self: stretch;

      display: flex;
      flex-direction: row;
      justify-content: space-between;
      ion-label {
        order: 0;
        flex: 1 1 auto;
      }
      ion-icon,
      i {
        order: 0;
        flex: 0 1 auto;
        align-self: center;
      }
      img {
        position: relative;
        height: 25px;
        display: block;
        margin-left: -7px;
        margin-top: -4px;
      }
    }
  }
}
