<ion-card (click)="clickEVT.emit()">
  <div *ngIf="data?.feature_image as img; else taxonomiesDiv" class="wm-box-header">
    <wm-img [src]="img" size="225x100"></wm-img>
    <ng-container *ngTemplateOutlet="taxonomies"></ng-container>
  </div>
  <ion-card-header>
    <ng-container *ngIf="data!= null else skeletonTemplate">
      <ion-card-subtitle *ngIf="data?.taxonomyWheres!= null && data?.taxonomyWheres.length>0">
        {{ data.taxonomyWheres[data.taxonomyWheres.length-1] | wmtrans }}
      </ion-card-subtitle>
      <ion-card-title>
        {{ data.properties?.name?? data.name  | wmtrans }}
      </ion-card-title>
      <div class="wm-search-box-properties">
        <ion-label *ngIf="data?.distance" class="wm-search-box-property">
          {{data.distance}} Km
        </ion-label>
        <ion-label *ngIf="data?.size" class="wm-search-box-property">
          {{data?.size|wmToMb}}</ion-label
        >
      </div>
      <ng-container *ngIf="data?.properties?.updatedAt as updatedAt">
        <wm-updated-at [updatedAt]="updatedAt"></wm-updated-at>
      </ng-container>
    </ng-container>
    <ng-template #skeletonTemplate>
      <ion-skeleton-text class="wm-card-big-subtitle-skeleton" animated></ion-skeleton-text>
      <ion-skeleton-text class="wm-card-big-title-skeleton" animated></ion-skeleton-text>
    </ng-template>
  </ion-card-header>
  <div class="top-right-content">
    <ng-content select="[top-right]"></ng-content>
  </div>
</ion-card>

<ng-template #taxonomies>
  <div
    class="wm-box-taxonomies"
    *ngIf="data?.taxonomyActivities!= null && data?.taxonomyActivities.length>0 &&data?.taxonomyActivities != '[]'"
  >
    <div class="wm-box-taxonomy" *ngFor="let item of data?.taxonomyActivities">
      <i [class]="item|getIcn"></i>
      <div>{{item|lowercase|wmtrans}}</div>
    </div>
  </div>
</ng-template>

<ng-template #taxonomiesDiv>
  <div class="wm-box-header-no-photo">
    <ng-container *ngTemplateOutlet="taxonomies"></ng-container>
  </div>
</ng-template>
