<div *ngIf="displayHtml$|async as displayHtml">
  <ion-label class="webmapp-pageroute-tabdescription-title">{{'Descrizione' |
      wmtrans}}</ion-label>
  <div
    class="webmapp-pageroute-tabdescription-description"
    [class.expanded]="(isExpanded$|async) || !(showExpandButton$|async)"
    [innerHTML]="displayHtml"
  ></div>
  <div
    *ngIf="showExpandButton$|async"
    class="wm-expand-button"
    (click)="toggleExpand()">
    {{ (isExpanded$|async) ? ('mostra meno' | wmtrans) : ('mostra altro' | wmtrans) }}
  </div>
</div>
