<ion-header>
  <ion-toolbar>
    <ion-title>Esempio slug-box</ion-title>
  </ion-toolbar>
</ion-header>

<wm-slug-box class="wm-core-demo-component" [data]="demoSlugBox"></wm-slug-box>

<app-demo-figma
  figmaUrl="https://www.figma.com/file/asngSNMmuSZEamZOQuhdPI/wm-core?type=design&node-id=73%3A174&mode=design&t=FoMzhp5AmdLLyzZN-1"
>
  <iframe
    style="border: 1px solid rgba(0, 0, 0, 0.1);"
    width="100%"
    height="450"
    src="https://www.figma.com/embed?embed_host=share&url=https%3A%2F%2Fwww.figma.com%2Ffile%2FasngSNMmuSZEamZOQuhdPI%2Fwm-core%3Ftype%3Ddesign%26node-id%3D73%253A174%26mode%3Ddesign%26t%3DLks1vClw76t1rjou-1"
    allowfullscreen
  ></iframe>
</app-demo-figma>

<ion-card>
  <ion-card-header>
    <ion-card-title>Descrizione del componente wm-slug-box</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <p>
      Il componente <code>wm-slug-box</code> è un elemento visivo interattivo che eredita dalla
      direttiva di base <code>BaseBoxComponent</code>. Esso combina una rappresentazione grafica
      attraverso un'immagine di anteprima e un titolo descrittivo.
    </p>
    <ion-list>
      <ion-item>
        <ion-label class="ion-text-wrap">
          <strong>Anteprima Immagine</strong>: Il componente ha un'area dedicata all'anteprima
          dell'immagine. In caso di assenza di un'immagine, viene utilizzato un percorso predefinito
          per un'immagine di fallback, ossia <code>/assets/icon/no-photo.svg</code>.
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label class="ion-text-wrap">
          <strong>Titolo Descrittivo</strong>: Fornisce un titolo che descrive il contenuto o il
          contesto dell'immagine. Questo titolo può essere tradotto utilizzando il filtro
          <code>wmtrans</code>.
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label class="ion-text-wrap">
          <strong>Interattività</strong>: Il componente è interattivo. Un click sul box innescerà un
          evento personalizzato <code>clickEVT</code>, che può emettere un valore numerico o nessun
          valore. Inoltre, vi è un'icona a forma di freccia sulla destra che indica che l'elemento
          può essere cliccato per ulteriori dettagli o azioni.
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label class="ion-text-wrap">
          <strong>Ereditarietà</strong>: Grazie all'ereditarietà da <code>BaseBoxComponent</code>,
          questo componente possiede proprietà e metodi comuni a tutti i box, rendendolo flessibile
          e facilmente estendibile.
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label class="ion-text-wrap">
          <strong>Stile e Design</strong>: Dall'immagine fornita, il componente presenta uno stile
          moderno e pulito, con bordi arrotondati, colori chiari e un'icona di freccia sottolineata.
          La combinazione di immagini e testi offre all'utente una chiara e immediata comprensione
          del contenuto rappresentato.
        </ion-label>
      </ion-item>
    </ion-list>
    <h4>Dettagli dell'attributo 'data'</h4>
    <p>
      L'attributo <code>[data]</code> serve per passare al componente <code>wm-slug-box</code> tutte
      le informazioni necessarie per la sua visualizzazione. Esso eredita questa proprietà dalla
      direttiva di base, consentendo una maggiore modularità e riutilizzo del codice.
    </p>
    <ion-list>
      <ion-item>
        <ion-label class="ion-text-wrap">
          <strong>box_type</strong>: Definisce il tipo di box. Nel caso specifico, il valore è
          'slug'.
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label class="ion-text-wrap">
          <strong>image_url</strong>: URL dell'immagine di anteprima da visualizzare.
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label class="ion-text-wrap">
          <strong>title</strong>: Il titolo descrittivo che accompagna l'immagine.
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label class="ion-text-wrap">
          <strong>slug</strong>: Una stringa univoca che identifica il contenuto o il contesto
          rappresentato dal box.
        </ion-label>
      </ion-item>
    </ion-list>
    <p>
      Il componente <code>wm-slug-box</code> utilizza l'attributo <code>[data]</code> per accettare
      l'oggetto <code>box</code>, che contiene tutte le informazioni necessarie. L'evento
      <code>clickEVT</code> emette sia lo <code>slug</code> che l'indice <code>idx</code> quando
      l'utente clicca sul box.
    </p>
  </ion-card-content>
</ion-card>
