wm-image-gallery {
  .webmapp-pagepoi-info-body-photoslider {
    padding: 10px 0;
    overflow: visible;
    .webmapp-pagepoi-info-body-photo {
      height: 150px !important;
      width: 250px !important;
      img {
        height: 150px !important;
        width: 250px !important;
      }
      &::part(image) {
        border-radius: 15px;
      }
    }
  }
}
