wm-image-gallery {
  position: relative;
  .webmapp-pagepoi-info-body-photoslider {
    padding: 10px 0;
    .webmapp-pagepoi-info-body-photo {
      height: 150px !important;
      width: 250px !important;
      img {
        height: 150px !important;
        width: 250px !important;
      }
      &::part(image) {
        border-radius: 15px;
      }
    }
  }
  ion-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 99;
    width: 45px;
    height: 45px;
    --border-radius: 100%;
    --background: #f0f0f0;
    --color: black;

    &.left {
      margin-left: 15px;
    }
    &.right {
      right: 0;
      margin-right: 15px;
    }
  }
}
