wm-image-gallery {
  position: relative;
  .webmapp-pagepoi-info-body-photoslider {
    padding: 10px 0;
    ion-slide {
      width: 250px;
      flex-direction: column;
      align-items: flex-start;

      ion-text {
        font-size: 14px;
        margin-top: 8px;
        color: var(--ion-text-color);
      }
    }
    .webmapp-pagepoi-info-body-photo {
      img {
        height: 150px !important;
        width: 250px !important;
      }
      &::part(image) {
        border-radius: 15px;
      }
    }
  }
  ion-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 99;
    width: 45px;
    height: 45px;
    --border-radius: 100%;
    --background: #f0f0f0;
    --color: black;

    &.left {
      margin-left: 15px;
    }
    &.right {
      right: 0;
      margin-right: 15px;
    }
  }
}
