<ng-container *ngIf="imageGallery$|async as imageGallery">
  <swiper-container *ngIf="sliderOptions$|async as sliderOptions"
    [slidesPerView]="sliderOptions.slidesPerView"
    [spaceBetween]="sliderOptions.spaceBetween"
    [centeredSlides]="sliderOptions.centeredSlides"
    class="webmapp-pagepoi-info-body-photoslider"
    #slider
  >
    <swiper-slide *ngFor="let image of imageGallery;let idx = index">
      <wm-img
        [src]="image.url"
        class="webmapp-pagepoi-info-body-photo"
        (click)="showPhoto(idx)"
      ></wm-img>
      <ion-text *ngIf="image?.name && confOPTIONSShowMediaName$|async">
        {{image.name|wmtrans}}
      </ion-text>
    </swiper-slide>
  </swiper-container>
  <ng-container *ngIf="!(isMobile$|async) && imageGallery.length > 1">
    <ion-button class="left" (click)="prev()">
      <ion-icon name="arrow-back-outline"></ion-icon>
    </ion-button>
    <ion-button class="right" (click)="next()">
      <ion-icon name="arrow-forward-outline"></ion-icon>
    </ion-button>
  </ng-container>
</ng-container>
