<ion-header>
  <ion-toolbar>
    <ion-title>Esempio tab-howto</ion-title>
  </ion-toolbar>
</ion-header>

<wm-tab-howto [properties]="demoProperties"></wm-tab-howto>

<app-demo-figma
  figmaUrl="https://www.figma.com/file/asngSNMmuSZEamZOQuhdPI/wm-core?type=design&node-id=410%3A4081&mode=design&t=o7ewzru5xkXdrfIx-1"
>
  <iframe
    style="border: 1px solid rgba(0, 0, 0, 0.1);"
    width="100%"
    height="450"
    src="https://www.figma.com/embed?embed_host=share&url=https%3A%2F%2Fwww.figma.com%2Ffile%2FasngSNMmuSZEamZOQuhdPI%2Fwm-core%3Ftype%3Ddesign%26node-id%3D410%253A4081%26mode%3Ddesign%26t%3Do7ewzru5xkXdrfIx-1"
  ></iframe>
</app-demo-figma>

<ion-card>
  <ion-card-header>
    <ion-card-title>Descrizione</ion-card-title>
  </ion-card-header>
</ion-card>
