wm-modal-image {
  --background: white;
  --color: black;
  margin-top: constant(safe-area-inset-top); // for ios 11.1
  margin-top: env(safe-area-inset-top); // for ios 11.2 and onwards
  margin-bottom: env(safe-area-inset-bottom);
  height: calc(100% - constant(safe-area-inset-top));
  height: calc(100% - env(safe-area-inset-top) - env(safe-area-inset-bottom));
}
ion-modal {
  --border-radius: 16px;
  --box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}

ion-modal::part(backdrop) {
  opacity: 1;
}
ion-fab-button {
  --background: white;
  --color: black;
  top: calc(constant(safe-area-inset-top));
  top: calc(env(safe-area-inset-top));
}

@media only screen and (min-width: 768px) and (min-height: 768px) {
  ion-modal {
    --width: 700px;
    --height: 700px;
  }
}
