wm-modal-image {
  --background: white;
  --color: black;
  margin-top: constant(safe-area-inset-top); // for ios 11.1
  margin-top: env(safe-area-inset-top); // for ios 11.2 and onwards
  margin-bottom: env(safe-area-inset-bottom);
  height: calc(100% - constant(safe-area-inset-top));
  height: calc(100% - env(safe-area-inset-top) - env(safe-area-inset-bottom));

  .gallery {
    height: 100%;
    ion-slide {
      width: 100%;
      wm-img {
        transition: all 1s;
      }
    }
  }
}
ion-modal {
  --border-radius: 16px;
  --box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}

ion-modal::part(backdrop) {
  opacity: 1;
}
ion-slide {
  background-color: white;
}
ion-fab-button {
  --background: white;
  --color: black;
  top: calc(constant(safe-area-inset-top));
  top: calc(env(safe-area-inset-top));
}
