@import '../../theme/mixins.scss';
wm-base-box {
  .wm-base-box-container {
    overflow: hidden;
    width: 225px;
    height: 185px;
    border-radius: 15px;
    margin: 0;
    @include box-shadow-light;

    .wm-base-box-image-container {
      display: block;
      height: 49.95%;
      background-color: var(--wm-color-skeleton);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }

    .wm-base-box-header {
      padding: 0 15px;
      text-align: left;
      .wm-base-box-subtitle {
        text-align: left;
        color: var(--wm-color-primary);
        text-transform: uppercase;
        margin: 0;
        padding: 15px 0 0;
        font-size: var(--wm-font-xsm);
        font-weight: var(--wm-font-weight-light);
      }
      .wm-base-box-title {
        text-align: left;
        color: var(--wm-color-dark);
        margin: 0;
        padding: 5px 0 0;
        font-size: var(--wm-font-md);
        font-weight: var(--wm-font-weight-normal);
        &::first-letter {
          text-transform: uppercase;
        }
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        /* white-space: nowrap; */
        overflow: hidden;
        text-overflow: ellipsis;
      }

      .wm-base-box-subtitle-skeleton {
        margin: 15px 0 0;
        height: var(--wm-font-xsm);
        width: 50%;
      }
      .wm-base-box-title-skeleton {
        margin: 5px 0 0;
        height: var(--wm-font-md);
        width: 70%;
      }
    }

    .wm-base-box-distance {
      text-align: left;
      color: var(--wm-color-darkgrey);
      height: var(--wm-font-sm);
    }
  }
}
