.wm-core-demo-left-bar {
  width: 200px;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #f4f4f4;
  overflow-y: auto;

  .wm-core-demo-menu-header {
    background-color: #007bff;
    color: white;
    padding: 10px;
    text-align: center;
  }

  .wm-core-demo-menu-content {
    padding: 10px;

    ul {
      list-style-type: none;
      padding: 0;

      li {
        padding: 10px;
        cursor: pointer;
        transition: background-color 0.3s;
        border: 1px solid #e4e4e4;
        text-align: center;

        &:hover {
          background-color: #e4e4e4;
        }
      }
    }
  }
}
