.wm-core-demo-left-bar {
  width: 300px;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #f4f4f4;
  overflow-y: auto;
  text-align: center;

  .wm-core-demo-menu-content {
    ion-item {
      padding: 10px;
      cursor: pointer;
      transition: background-color 0.3s;
      text-align: center;

      &:hover {
        background-color: #3880ff;
      }
    }
  }

  ion-accordion {
    margin: 0 auto;
  }

  ion-accordion.accordion-expanding,
  ion-accordion.accordion-expanded {
    width: calc(100% - 32px);

    margin: 16px auto;
  }
}
