<ion-content class="wm-core-demo-left-bar" color="primary">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-title>wm-core</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="wm-core-demo-menu-content">
    <ion-accordion-group expand="inset">
      <ion-accordion value="box">
        <ion-item slot="header">
          <ion-label>Box Components</ion-label>
        </ion-item>
        <div slot="content">
          <ion-list [inset]="true">
            <ion-item *ngFor="let component of boxComponents" (click)="showComponent(component)">
              {{ component }}
            </ion-item>
          </ion-list>
        </div>
      </ion-accordion>
      <ion-accordion value="tab">
        <ion-item slot="header">
          <ion-label>Tab Components</ion-label>
        </ion-item>
        <div slot="content">
          <ion-list [inset]="true">
            <ion-item *ngFor="let component of tabComponents" (click)="showComponent(component)">
              {{ component }}
            </ion-item>
          </ion-list>
        </div>
      </ion-accordion>
      <ion-list [inset]="true">
        <ion-item *ngFor="let component of otherComponents" (click)="showComponent(component)">
          {{ component }}
        </ion-item>
      </ion-list>
    </ion-accordion-group>
  </ion-content>
</ion-content>
