wm-download {
  position: relative;
  .webmapp-pageroute-downloadpanel-container {
    background-color: white;
    position: relative;
    width: 100%;
    height: 100%;
    padding: 50px 10px 20px;
    z-index: 99;
    .webmapp-pageroute-downloadpanel-exit {
      position: absolute;
      z-index: 99;
      top: 15px;
      right: 15px;
      font-size: 15px;
      padding: 5px;
      background-color: rgba(255, 255, 255, 0.7);

      color: var(--wm-color-dark);
      // @include box-shadow-light;
    }
    .webmapp-pageroute-downloadpanel-logo {
      position: absolute;
      z-index: 99;
      top: 6px;
      left: 6px;
      font-size: 15px;
    }
  }
  .webmapp-pageroute-downloadbackpanel {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: #333;
    opacity: 0.4;
  }
}
