<ion-grid>
  <ion-row>
    <ion-col
      >{{'Filtri attivi'|wmtrans}}
      <span
        *ngIf="(poiFilters$|async).length + (trackFilters$|async).length"
        >{{(poiFilters$|async).length + (trackFilters$|async).length}}</span
      >
    </ion-col>
    <ion-col size="auto">
      <ion-chip
        [outline]="true"
        (click)="resetFilters()"
        class="wm-reset-filters"
        >{{'Torna alla home'|wmtrans}}</ion-chip
      >
    </ion-col>
    <ion-row>
      <ion-col class="chip-list">
        <ion-chip outline="true" *ngIf="layer$|async as layer" (click)="removeLayer(layer)">
          <ion-label *ngIf="layer?.title as layerTitle"> {{layerTitle|wmtrans}}</ion-label>
          <ion-icon name="close"></ion-icon>
        </ion-chip>
        <ng-container *ngFor="let f of trackFilters$|async">
          <ion-chip (click)="removeTrackFilter(f)">
            <ng-container *ngIf="f.icon != null">
              <div appBuildSvg style="height:55%" [svg]="f.icon"></div>
            </ng-container>
            <ion-label>{{f.name|wmtrans}} {{f|wmUnits}}</ion-label>
            <ion-icon name="close"></ion-icon>
          </ion-chip>
        </ng-container>
        <ng-container *ngFor="let f of poiFilters$|async">
          <ion-chip (click)="removePoiFilter(f.identifier)">
            <ng-container *ngIf="f.icon != null;else imgT">
              <div appBuildSvg style="height:55%" [svg]="f.icon"></div>
            </ng-container>
            <ng-template #imgT>
              <img [src]="f.identifier" />
            </ng-template>
            <ion-label>{{f.name|wmtrans}}</ion-label>
            <ion-icon name="close"></ion-icon>
          </ion-chip>
        </ng-container>
      </ion-col>
    </ion-row>
  </ion-row>
</ion-grid>
