wm-track-related-poi {
  --height: 75px;

  display: flex;
  flex-direction: column;
  margin: var(--wm-feature-details-margin);
  > ion-label {
    font-weight: var(--wm-feature-details-title-font-weight);
    font-size: var(--wm-feature-details-title-font-size);
    color: var(--wm-feature-details-title-color);
    font-family: var(--wm-feature-details-title-font-family);
  }
  .webmapp-track-poi-btns {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: stretch;
    align-items: stretch;
    .webmapp-poi-popup-btn {
      order: 0;
      flex: 0 1 auto;
      align-self: auto;
      font-family: var(--wm-font-family-content);

      display: inline-flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: flex-start;
      align-content: stretch;
      align-items: baseline;
      i {
        flex: 0 1 20px;
        align-self: auto;
        font-size: 18px;
      }
      .wm-icn {
        color: var(--wm-color-primary);
        margin-right: 5px;
        flex: 0 1 auto;
      }
    }
  }
  .webmapp-track-poi-list {
    padding: 10px 0px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: stretch;
    align-items: stretch;
    .webmapp-track-poi-item {
      flex: 0 1 auto;
      align-self: auto;

      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: flex-start;
      align-content: stretch;
      align-items: stretch;
      height: var(--height);
      cursor: pointer;
    }
    .webmapp-track-poi-text {
      width: calc(100% - 100px);
      height: 100%;
      margin-left: 16px;
      flex: 1 1 auto;
      align-self: auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
      .webmapp-track-poi-title {
        font-size: 16px;
        font-weight: 700;
        line-height: 1.2;
        letter-spacing: 0em;
        text-align: left;
        color: var(--ion-text-color);
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
      }

      .webmapp-track-poi-distance-from-current-location {
        font-size: 12px;
        color: var(--ion-text-color);
        span {
          font-weight: 700;
        }
      }
      .webmapp-track-poi-btns {
        display: -ms-inline-flexbox;
        display: -webkit-inline-flex;
        display: inline-flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-content: stretch;
        align-items: flex-start;
      }
    }

    .webmapp-track-poi-img {
      width: 100px;
      left: 0px;
      top: 0px;
      border-radius: 8px;
      object-fit: cover;
      flex: 0 1 auto;
      align-self: auto;
    }
    wm-icon {
      height: 100%;
      display: flex;
      svg {
        height: 100%;
        padding: 4px;
      }
    }
    .selected {
      background-color: rgba(243, 244, 246, 1);
      border-radius: 8px;
    }
  }
  > ion-button {
    height: 36px;
    font-size: var(--wm-font-sm);
    margin-top: 16px;
    --box-shadow: none;
    --border-radius: 30px;
  }
}
