<ng-content></ng-content>
<ng-container *ngIf="track != null">
  <ion-header class="ion-no-border">
    <ion-toolbar>
      <span
        *ngIf="track"
        [innerHtml]="track?.properties?.name | wmtrans"
        class="wm-ugc-track-details-header"
      ></span>
      <ion-buttons slot="end">
        <ion-button (click)="triggerDismiss()">
          <ion-icon name="close"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <div #content id="wm-ugc-track-details-content">
    <ng-container *ngIf="isEditing$|async; else viewData">
      <wm-form
        [confPOIFORMS]="confTRACKFORMS$|async"
        [init]="track?.properties?.form"
        (formGroupEvt)="fg = $event"
      ></wm-form>
      <wm-image-picker
        [readonlyPhotos]="track?.properties?.media ?? []"
        (photosChanged)="photosChanged($event)"
      ></wm-image-picker>
    </ng-container>
    <ng-template #viewData>
      <wm-slope-chart
        *ngIf="track != null"
        [currentTrack]="track"
        (hover)="onLocationHover($event)"
      ></wm-slope-chart>
      <wm-ugc-track-data [track]="track"></wm-ugc-track-data>
      <ng-container *ngIf="track?.properties as ugcProperties">
        <ng-container *ngIf="ugcProperties?.form as form">
          <wm-form
            class="wm-ugc-track-form-readonly"
            [disabled]="true"
            [confPOIFORMS]="confTRACKFORMS$|async"
            [init]="track?.properties?.form"
            (formGroupEvt)="fg = $event"
          ></wm-form>
        </ng-container>
      </ng-container>
      <wm-ugc-medias [showArrows]="true" class="wm-ugc-track-media-content"></wm-ugc-medias>
      <wm-feature-useful-urls [track]="track"></wm-feature-useful-urls>
    </ng-template>
    <ng-container *ngIf="!(isEditing$|async); else editingButtons">
      <ion-grid class="ion-margin-top">
        <ion-row>
          <ion-col>
            <ion-button
              expand="block"
              (click)="this.isEditing$.next(true)"
              >{{'edit'|wmtrans}}</ion-button
            >
          </ion-col>
          <ion-col>
            <ion-button
              expand="block"
              color="danger"
              (click)="deleteTrack()"
              >{{'delete'|wmtrans}}</ion-button
            >
          </ion-col>
        </ion-row>
      </ion-grid>
    </ng-container>
    <ng-template #editingButtons>
      <ion-grid class="ion-margin-top">
        <ion-row>
          <ion-col>
            <ion-button expand="block" (click)="updateTrack()">{{'save'|wmtrans}}</ion-button>
          </ion-col>
          <ion-col>
            <ion-button
              expand="block"
              (click)="this.isEditing$.next(false)"
              >{{'cancel'|wmtrans}}</ion-button
            >
          </ion-col>
        </ion-row>
      </ion-grid>
    </ng-template>
  </div>
</ng-container>
