wm-ugc-track-properties {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: stretch;
  align-items: flex-start;
  background-color: white;
  font-style: normal;
  overflow: scroll;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  .wm-ugc-track-form-readonly {
    ion-card {
      box-shadow: none;
    }
  }
  ion-header {
    .wm-ugc-track-details-header {
      font-size: var(--font-md);
      color: #333333;
      font-style: normal;
      font-weight: 600;
      display: flex;
      align-items: center;
      flex: none;
      order: 0;
      flex-grow: 0;
      padding: 10px;
    }
  }
  ion-grid {
    width: 100%;
  }

  #wm-ugc-track-details-content {
    width: 100%;
    height: calc(100% - 56px);
    font-family: var(--wm-font-family-content);
    padding: 0px 10px;
    display: flex;
    flex-direction: column;
    flex-wrap: inherit;
    align-self: flex-start;
    .wm-ugc-track-title:first-letter {
      text-transform: uppercase;
    }
    .wm-ugc-category-title {
      font-weight: var(--wm-feature-details-title-font-weight);
      font-size: var(--wm-feature-details-title-font-size);
      color: var(--wm-feature-details-title-color);
    }
    .wm-ugc-track-activity-content {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: flex-start;
      align-content: flex-start;
      align-items: flex-start;
    }
  }
}
