wm-tab-howto {
  display: block;
  margin: var(--wm-feature-details-margin);
  .webmapp-title {
    font-weight: var(--wm-feature-details-title-font-weight);
    font-size: var(--wm-feature-details-title-font-size);
    color: var(--wm-feature-details-title-color);
    font-family: var(--wm-feature-details-title-font-family);
  }
  .webmapp-walkability {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: flex-start;
    padding: 10px;

    .webmapp-walkability-box {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: flex-start;
      margin: 0 10px 10px 0;
      padding: 10px;

      height: 82px;
      min-width: 80px;
      left: 0px;
      top: 932px;
      border-radius: 15px;
      background: rgba(255, 129, 40, 0.2);
      i {
        position: static;
        height: 24px;
        width: 27.333335876464844px;
        left: 11px;
        top: 947px;
        border-radius: 0px;
        font-size: 24px;
        color: #ff8128;

        /* Inside auto layout */

        flex: none;
        order: 0;
        flex-grow: 0;
        margin: 8px 0px;
      }
      > div {
        svg {
          height: unset;

          circle {
            fill: transparent;
          }
          g {
            fill: #ff8128;
          }
        }
      }
      .webmapp-walkability-label {
        font-family: var(--wm-font-family-header);
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 17px;
        letter-spacing: 0em;
        text-align: left;
      }
    }
  }
}
