<ng-container *ngIf="properties != null">
  <ng-container *ngIf="properties.taxonomy  as taxonomy">
    <div class="wm-tab-howto-content">
      <div class="webmapp-title">{{'Attività'|wmtrans}}</div>
      <div class="webmapp-walkability" *ngIf="taxonomy.activity as activity">
        <ng-container *ngFor="let item of activity">
          <div class="webmapp-walkability-box">
            <wm-icon [iconData]="item"></wm-icon>
            <span class="webmapp-walkability-label">{{item.name|wmtrans}}</span>
          </div>
        </ng-container>
      </div>
    </div>
  </ng-container>
</ng-container>
