<ng-container *ngIf="filterName === 'poi_type';else track">
  <ion-accordion [value]="filterName">
    <ion-item slot="header" color="light">
      <ion-label> {{filter.name|wmtrans}} {{parent.pois.features.length}}</ion-label>
    </ion-item>
    <div class="ion-padding" slot="content">
      <div class="chip-list">
        <ng-container *ngFor="let option of filter.options| orderedBySelection:(parent.poiFilters)">
          <ion-chip
            *ngIf="parent.poisStats[option.identifier]!= null"
            outline="true"
            class="wm-chip"
            (click)="addPoiFilter(option)"
            color="{{option.identifier|isSelected:(parent.poiFilters)}}"
          >
            <ng-container *ngIf="option.icon != null;else imgT">
              <div appBuildSvg style="height:55%" [svg]="option.icon"></div>
            </ng-container>
            <ng-template #imgT>
              <img [src]="option.identifier" />
            </ng-template>
            <ion-label class="wm-label">{{option.name|wmtrans}}</ion-label>
            <span class="wm-filters-count">
              {{ option.identifier|wmhowmany:parent.poisStats}}
            </span>
          </ion-chip>
        </ng-container>
      </div>
    </div>
  </ion-accordion>
</ng-container>
<ng-template #track>
  <ion-accordion [value]="filterName">
    <ion-item slot="header" color="light">
      <ion-label> {{filter.name|wmtrans}} {{parent.trackStats.count}}</ion-label>
    </ion-item>
    <div class="ion-padding" slot="content">
      <div class="chip-list">
        <ng-container
          *ngFor="let option of filter.options | orderedBySelection:(parent.trackFilters)"
        >
          <ion-chip
            class="wm-chip"
            outline="true"
            (click)="parent.addTrackFilter(option,filter.taxonomy)"
            color="{{option.identifier|isSelected:(parent.trackFilters)}}"
          >
            <ion-label>{{option.name|wmtrans}}</ion-label>
            <span class="wm-filters-count">
              {{ option.identifier|wmhowmany:parent.trackStats}}
            </span>
          </ion-chip>
        </ng-container>
      </div>
    </div>
  </ion-accordion>
</ng-template>
