<ng-container *ngIf="filterName === 'poi_types';else track">
  <ion-accordion [value]="filterName">
    <ion-item slot="header" color="light">
      <ion-label> {{filter.name|wmtrans}} </ion-label>
      <span class="wm-filters-count" *ngIf="parent?.countPois$|async as countPois"
        >{{countPois}}
      </span>
    </ion-item>
    <div class="ion-padding" slot="content">
      <div class="chip-list">
        <ng-container *ngIf="parent?.poisStats$|async as poisStats">
          <ng-container *ngIf="parent.poiFilters$|async as poiFilters">
            <ng-container *ngFor="let option of filter.options| orderedBySelection:(poiFilters)">
              <ion-chip
                *ngIf="poisStats[option.identifier]!= null"
                outline="true"
                (click)="addPoiFilter(option)"
                color="{{option.identifier|isSelected:(poiFilters)}}"
              >
                <ng-container
                  *ngIf="(option?.icon_name != null) || (option?.icon != null); else imgT"
                >
                  <wm-icon [iconData]="option" [useColor]="false"></wm-icon>
                </ng-container>
                <ng-template #imgT>
                  <img [src]="option.identifier" />
                </ng-template>
                <ion-label>{{option.name|wmtrans}}</ion-label>
                <span class="wm-filters-count">
                  {{ option.identifier|wmhowmany:poisStats}}
                </span>
              </ion-chip>
            </ng-container>
          </ng-container>
        </ng-container>
      </div>
    </div>
  </ion-accordion>
</ng-container>
<ng-template #track>
  <ng-container *ngIf="parent.trackStats$|async as trackStats">
    <ng-container *ngIf="parent.trackFilters$|async as trackFilters">
      <ion-accordion [value]="filterName">
        <ion-item slot="header" color="light">
          <ion-label> {{filter.name|wmtrans}}</ion-label>
          <span
            class="wm-filters-count"
            *ngIf="parent.countTracks$|async as countTracks"
            >{{countTracks}}</span
          >
        </ion-item>
        <div class="ion-padding" slot="content">
          <div class="chip-list">
            <ng-container *ngFor="let option of filter.options | orderedBySelection:(trackFilters)">
              <ion-chip
                outline="true"
                (click)="parent.addTrackFilter(option,filter.taxonomy)"
                color="{{option.identifier|isSelected:(trackFilters)}}"
                *ngIf="option.identifier|wmhowmany:trackStats as count"
              >
                <div
                  appBuildSvg
                  *ngIf="option.icon"
                  [svg]="option.icon"
                  [color]="option.color"
                ></div>
                <ion-label>{{option.name|wmtrans}}</ion-label>
                <span class="wm-filters-count">
                  {{count}}
                </span>
              </ion-chip>
            </ng-container>
          </div>
        </div>
      </ion-accordion>
    </ng-container>
  </ng-container>
</ng-template>
