wm-select-filter {
  ion-list {
    padding: 0 !important;
  }
  .chip-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: stretch;
    align-items: stretch;
    overflow: auto;
    max-height: 600px;
    ion-chip {
      order: 0;
      flex: 1 1 auto;
      align-self: stretch;

      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-content: stretch;
      align-items: stretch;
      ion-label {
        order: 0;
        flex: 1 1 auto;
        align-self: stretch;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
      ion-icon,
      i {
        order: 0;
        flex: 0 1 auto;
        align-self: stretch;
      }
      img {
        position: relative;
        height: 25px;
        display: block;
        margin-left: -7px;
        margin-top: -4px;
      }
    }
  }
}

div {
  svg {
    height: 200%;
  }
}
ion-chip {
  width: 100%;
}
