<ion-header>
  <ion-toolbar>
    <ion-title>Esempio tab-detail</ion-title>
  </ion-toolbar>
</ion-header>

<wm-tab-detail [properties]="demoProperties"></wm-tab-detail>

<app-demo-figma
  figmaUrl="https://www.figma.com/file/asngSNMmuSZEamZOQuhdPI/wm-core?type=design&node-id=377%3A3749&mode=design&t=X5F4BG0k09bQ3x38-1"
>
  <iframe
    style="border: 1px solid rgba(0, 0, 0, 0.1);"
    width="100%"
    height="450"
    src="https://www.figma.com/embed?embed_host=share&url=https%3A%2F%2Fwww.figma.com%2Ffile%2FasngSNMmuSZEamZOQuhdPI%2Fwm-core%3Ftype%3Ddesign%26node-id%3D377%253A3749%26mode%3Ddesign%26t%3DX5F4BG0k09bQ3x38-1"
    allowfullscreen
  ></iframe>
</app-demo-figma>

<ion-card>
  <ion-card-header>
    <ion-card-title>Descrizione</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <p>
      Il componente <code>demo-tab-detail</code> serve come rappresentazione dettagliata di un certo
      elemento all'interno di una tabulazione. Eredita funzionalità e stili da una serie di
      componenti di base, offrendo un'interfaccia utente ricca di dettagli.
    </p>
    <ion-list>
      <ion-item>
        <ion-label class="ion-text-wrap">
          <strong>Visualizzazione Dettagliata</strong>: Il componente offre una visualizzazione
          dettagliata e approfondita degli elementi.
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label class="ion-text-wrap">
          <strong>Integrazione con Altri Componenti</strong>: Funziona in sinergia con altri
          componenti all'interno dell'applicazione per fornire una esperienza utente fluida e
          coerente.
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label class="ion-text-wrap">
          <strong>Adattabilità</strong>: E' progettato per adattarsi a vari formati e dimensioni di
          schermo, garantendo una visualizzazione ottimale in tutti i dispositivi.
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label class="ion-text-wrap">
          <strong>Stile e Design</strong>: Presenta un design intuitivo e pulito, facilitando la
          comprensione e l'interazione da parte dell'utente.
        </ion-label>
      </ion-item>
    </ion-list>
    <h4>Dettagli dell'attributo 'data'</h4>
    <p>
      L'attributo <code>[data]</code> nel componente <code>demo-tab-detail</code> svolge un ruolo
      cruciale, consentendo di ricevere e visualizzare informazioni dettagliate. Eredita questa
      funzionalità da componenti o direttive di base per garantire coerenza e modularità.
    </p>
    <ion-list>
      <ion-item>
        <ion-label class="ion-text-wrap">
          <strong>detail_type</strong>: Specifica il tipo di dettaglio da visualizzare, garantendo
          flessibilità nel presentare varie categorie di informazioni.
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label class="ion-text-wrap">
          <strong>content_url</strong>: L'URL da cui recuperare il contenuto dettagliato da
          visualizzare.
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label class="ion-text-wrap">
          <strong>description</strong>: Fornisce una descrizione dettagliata dell'elemento o della
          categoria selezionata.
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label class="ion-text-wrap">
          <strong>tab_id</strong>: Identifica univocamente la tabulazione o la categoria associata,
          permettendo una gestione efficiente dei dettagli.
        </ion-label>
      </ion-item>
    </ion-list>
    <p>
      Attraverso l'utilizzo dell'attributo <code>[data]</code>, il componente
      <code>demo-tab-detail</code> può presentare una vasta gamma di dettagli in modo efficace,
      migliorando l'esperienza utente e facilitando la navigazione.
    </p>
  </ion-card-content>
</ion-card>
