<ion-accordion [value]="filterName">
  <ion-item slot="header" color="light">
    <ion-label> {{filter.name|wmtrans}} {{currentValue|wmUnits}}</ion-label>
  </ion-item>
  <div class="ion-padding" slot="content">
    <ion-range
      [dualKnobs]="true"
      [ticks]="true"
      [snaps]="true"
      [value]="currentValue"
      [step]="filter.steps"
      [min]="filter.min"
      [max]="filter.max"
      [pin]="true"
      (ionKnobMoveEnd)="onIonChange($event)"
    >
      <ion-label slot="start">{{filter.min}}{{filter.units|wmtrans}}</ion-label>
      <ion-label slot="end">{{filter.max}}{{filter.units|wmtrans}}</ion-label>
    </ion-range>
  </div>
</ion-accordion>
