wm-slope-chart {
  text-align: center;
  width: 100%;
  margin: var(--wm-feature-details-margin);
  .webmapp-slopechart-canvas-container {
    margin: 0 auto;
    width: 100%;
    height: 180px;
    .webmapp-slopechart-canvas {
      margin: 0 auto;
      width: 100% !important;
    }
  }

  .webmapp-slopechart-legend-container {
    .webmapp-slopechart-legend-slope-container {
      margin: 15px 0 10px;
      width: 100%;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      padding-right: 15px;
      .webmapp-slopechart-legend-slope-label {
        flex-grow: 1;
        &::first-letter {
          text-transform: uppercase;
        }
      }
      .webmapp-slopechart-legend-slope-bar {
        height: 4px;
        flex-grow: 10;
        background: linear-gradient(
          to right,
          rgb(67, 227, 9) 0%,
          rgb(195, 255, 0) 25%,
          rgb(255, 239, 10) 50%,
          rgb(255, 174, 0) 75%,
          rgb(196, 30, 4) 100%
        );
        overflow: visible;
        position: relative;
        .webmapp-slopechart-legend-slope-selected-container {
          position: absolute;
          bottom: -5px;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          transform: translateX(-50%);
          transition: left 500ms;
          .webmapp-slopechart-legend-slope-selected-dot {
            width: 14px;
            height: 14px;
            border-radius: 10px;
            border: 2px solid #fff;
            background: #000;
          }
        }
      }
    }
    .webmapp-slopechart-legend-surface-container {
      margin: 10px 0;
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      justify-content: space-evenly;
      .webmapp-slopechart-legend-surface {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        margin: 0 5px;
        .webmapp-slopechart-legend-surface-dot {
          width: 10px;
          height: 10px;
          border-radius: 10px;
          display: inline-block;
        }
        .webmapp-slopechart-legend-surface-label {
          margin-left: 5px;
          &::first-letter {
            text-transform: uppercase;
          }
        }
      }
    }
  }
}
