@import 'src/theme/mixins.scss';
downloaded-tracks-box {
  .list-md {
    background-color: transparent;
  }
  ion-item {
    --ion-item-background: transparent;
    border-radius: 8px !important;
  }
  .webmapp-cardtrack-card {
    width: 100%;
    // height: 137px;
    position: relative;
    --detail-icon-color: var(--wm-color-primary);
    --detail-icon-opacity: 1;
    // @include box-shadow-light;
    --detail-icon-font-size: 32px;
    .webmapp-cardtrack-image {
      min-height: 145px;
    }

    .webmapp-cardtrack-info {
      left: 116px;
      position: absolute;
      padding: 10px;
      padding-left: 15px;
      top: 0px;

      width: 261px;

      .webmapp-cardtrack-info-label {
        display: block;
        color: var(--wm-color-dark);
        text-align: left;
        min-height: 30px;
      }

      .webmapp-cardtrack-info-name {
        text-align: left;
        font-weight: var(--wm-font-weight-bold);
        font-size: var(--wm-font-md);
        min-height: 40px;
        //   max-height: 50px;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: break-spaces;
      }
      .webmapp-cardtrack-info-time {
        font-size: var(--wm-font-sm);
      }
      .webmapp-cardtrack-info-difficulty {
        font-size: var(--wm-font-sm);
        font-weight: var(--wm-font-weight-light);
      }
      .webmapp-cardtrack-info-distance {
        font-size: var(--wm-font-sm);
        font-weight: var(--wm-font-weight-light);
      }
      .webmapp-cardtrack-info-icon {
        font-size: var(--wm-font-xxlg);
        color: var(--wm-color-primary);
      }
    }
    .webmapp-cardtrack-remove {
      position: absolute;
      bottom: -5px;
      right: -5px;
      display: block;
      padding: 10px;
      text-decoration: underline;
      cursor: pointer;
      z-index: 900;
      color: var(--wm-color-darkgrey);
      font-size: var(--wm-font-sm);
      font-weight: var(--wm-font-weight-light);
    }
  }
}
