<ng-container *ngIf="tracks$|async as tracks">
  <ion-item button lines="none" class="webmapp-cardtrack-card" *ngFor="let track of tracks">
    <wm-img
      [src]="track.properties?.feature_image"
      size="118x138"
      (click)="open(track)"
      class="webmapp-cardtrack-image"
    >
    </wm-img>
    <div class="webmapp-cardtrack-info" (click)="open(track)">
      <ion-label
        class="webmapp-cardtrack-info-label webmapp-cardtrack-info-name"
        >{{track.properties.name | wmtrans
        }}</ion-label
      >
      <ion-label class="webmapp-cardtrack-info-label webmapp-cardtrack-info-time">
        {{track.properties.duration_forward | minutetime}}</ion-label
      >
      <ion-label class="webmapp-cardtrack-info-label webmapp-cardtrack-info-time">
        {{sizeInMB(track.properties.size)}} MB</ion-label
      >
      <ion-label class="webmapp-cardtrack-info-label webmapp-cardtrack-info-difficulty">
        <i
          class="webmapp-cardtrack-info-icon webmapp-maptrackcard-info-icon webmapp-icon-difficulty-high"
        >
        </i>
        {{track.properties.difficulty | wmtrans }}
      </ion-label>
      <ion-label class="webmapp-cardtrack-info-label webmapp-cardtrack-info-distance">
        <i class="webmapp-cardtrack-info-icon webmapp-icon-distance"> </i>
        {{track.properties.distance}} Km
      </ion-label>
    </div>
  </ion-item>
  <h3 *ngIf="tracks.length == 0">{{'no-tracks'|wmtrans}}</h3>
</ng-container>
