wm-filters {
  div[appBuildSvg] {
    height: 55%;
  }
  .filter-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 14px;
    gap: 10px;
    cursor: pointer;
    height: 40px;
    position: relative;
    background: #ffffff !important;
    /* Drop Shadow */

    box-shadow: 0px 6px 14px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    .dot {
      height: 6px;
      width: 6px;
      background-color: var(--wm-color-primary);
      border-radius: 50%;
      display: inline-block;
      position: absolute;
      top: 25%;
      right: 5%;
    }
  }
  ion-list {
    padding: 0 !important;
  }

  .wm-filters-title {
    line-height: 34px;
  }
  .wm-filter-content {
    position: fixed;
    background-color: rgba($color: white, $alpha: 0.8);
    top: calc(2% + 60px + constant(safe-area-inset-top));
    top: calc(2% + 60px + env(safe-area-inset-top));
    right: 1%;
    width: 320px;
    z-index: 1;
  }
  .wm-selected-filters {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: stretch;
    align-items: stretch;
    overflow: auto;
    ion-chip {
      order: 0;
      flex: 1 1 auto;
      align-self: stretch;

      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      align-content: stretch;
      align-items: stretch;
      min-width: fit-content;

      ion-label {
        order: 0;
        flex: 1 1 auto;
        align-self: stretch;
        margin: 2px;
      }
      ion-icon,
      i {
        order: 0;
        flex: 0 1 auto;
        align-self: center;
      }
      img {
        position: relative;
        height: 25px;
        display: block;
        margin-left: -7px;
        margin-top: -4px;
      }
    }
  }
}

div {
  svg {
    height: 200%;
  }
}
ion-chip {
  width: 100%;
}
