<ng-container *ngIf="(isLogged$|async) === false" wmOnLangChange>
  <div class="wm-profile-logged-out-slider-container">
    <wm-swiper
      [options]="loggedOutSliderOptions"
      class="wm-profile-logged-out-slider">
      <swiper-slide class="wm-profile-logged-out-slide">
        <div class="wm-profile-logged-out-slide-content">
          <img class="wm-profile-logged-out-slide-image" src="{{slide1}}" />
          <div class="wm-profile-logged-out-slide-text">
            {{'Accedi e scarica i tuoi percorsi preferiti' | wmtrans}}
          </div>
        </div>
      </swiper-slide>
      <swiper-slide class="wm-profile-logged-out-slide">
        <div class="wm-profile-logged-out-slide-content">
          <img class="wm-profile-logged-out-slide-image" src="{{slide2}}" />
          <div class="wm-profile-logged-out-slide-text">
            {{'Puoi anche condividerli con i tuoi compagni di viaggio' | wmtrans}}
          </div>
        </div>
      </swiper-slide>
      <swiper-pagination></swiper-pagination>
    </wm-swiper>
  </div>
  <div class="wm-profile-logged-out-login-buttons-container">
    <button class="wm-profile-logged-out-login-button" (click)="login()">
      {{'Accedi' | wmtrans}}
    </button>
    <button class="wm-profile-logged-out-signup-button" (click)="signup()">
      {{'Registrati' | wmtrans}}
    </button>
  </div>
</ng-container>
