<ng-container *ngIf="(isLogged$|async) === false">
  <div class="wm-profile-logged-out-slider-container">
    <ion-slides
      class="wm-profile-logged-out-slider"
      [options]="loggedOutSliderOptions"
      pager="true"
    >
      <ion-slide class="wm-profile-logged-out-slide">
        <div class="wm-profile-logged-out-slide-content">
          <img
            class="wm-profile-logged-out-slide-image"
            src="{{slide1}}"
          />
          <div class="wm-profile-logged-out-slide-text">
            {{'Accedi e scarica i tuoi percorsi preferiti' | wmtrans}}
          </div>
        </div>
      </ion-slide>
      <ion-slide class="wm-profile-logged-out-slide">
        <div class="wm-profile-logged-out-slide-content">
          <img
            class="wm-profile-logged-out-slide-image"
            src="{{slide2}}"
          />
          <div class="wm-profile-logged-out-slide-text">
            {{'Puoi anche condividerli con i tuoi compagni di viaggio' | wmtrans}}
          </div>
        </div>
      </ion-slide>
    </ion-slides>
  </div>
  <div class="wm-profile-logged-out-login-buttons-container">
    <button class="wm-profile-logged-out-login-button" (click)="login()">
      {{'Accedi' | wmtrans}}
    </button>
    <button class="wm-profile-logged-out-signup-button" (click)="signup()">
      {{'Registrati' | wmtrans}}
    </button>
  </div>
</ng-container>
