<ng-container *ngIf="featuresInViewport$ | async as featuresInViewport">
  <swiper-container *ngIf="sliderOptions$|async as sliderOptions"
    [slidesPerView]="sliderOptions.slidesPerView"
    [spaceBetween]="sliderOptions.spaceBetween"
    [slidesOffsetBefore]="sliderOptions.slidesOffsetBefore"
    [slidesOffsetAfter]="sliderOptions.slidesOffsetAfter"
    [centeredSlides]="sliderOptions.centeredSlides"
    [freeMode]="sliderOptions.freeMode"
    [ngClass]="{'slide-in': featuresInViewport.length > 0}"
    #slider
  >
    <swiper-slide *ngFor="let feature of featuresInViewport">
      <wm-search-box
        [data]="feature"
        (clickEVT)="setTrack(feature?.id)"
      ></wm-search-box>
    </swiper-slide>
  </swiper-container>
</ng-container>