wm-features-in-viewport {
  position: absolute;
  bottom: 38px;
  left: 0;
  width: 100%;

  swiper-container {
    swiper-slide {
      wm-search-box {
        width: 100%;
        margin: 0;
        ion-card {
          display: flex;
          width: 100%;
          height: 102px;
          margin: 0;
          padding: 8px;
          border-radius: 20px;
          gap: 16px;
          .wm-box-taxonomies {
            display: none;
          }
          .wm-box-header-no-photo {
            .wm-box-taxonomies {
              display: none;
            }
          }
          ion-card-header{
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            padding-right: 0px;
            padding-left: 0px;
            ion-card-subtitle{
              padding: 0px;
            }
            ion-card-title{
              margin: 0px;
              padding: 0px;
            }
            .wm-search-box-property.property-distance {
              padding-left: 28px;
            }
            .wm-search-box-property.property-distance::before {
              content: '\e9a3';
              font-size: 23px;
              font-family: 'webmapp';
              position: absolute;
              left: 0;
              top: 0;
            }
          }

          wm-img {
            width: 118px;
            min-height: 86px !important;
          }
        }
      }
    }

    &.slide-in {
      animation: slideIn 0.4s forwards;
    }

    &.slide-out {
      animation: slideOut 0.4s forwards;
    }

    @keyframes slideIn {
      from {
        transform: translateY(100%);
        opacity: 0;
      }
      to {
        transform: translateY(0);
        opacity: 1;
      }
    }

    @keyframes slideOut {
      from {
        transform: translateY(0);
        opacity: 1;
      }
      to {
        transform: translateY(100%);
        opacity: 0;
      }
    }
  }
}