@import '../../theme/mixins.scss';
wm-search-box {
  margin: 10px;
  wm-img {
    height: 30px;
  }
  .webmapp-card-big-container {
    overflow: hidden;
    width: 90%;
    min-height: 100px;
    max-height: 185px;
    border-radius: 15px;
    margin: auto;
    @include box-shadow-light;

    .webmapp-card-big-image-container {
      display: block;
      background-color: var(--wm-color-skeleton);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }

    .webmapp-card-big-header {
      padding: 0 15px;
      text-align: left;
      .webmapp-card-big-subtitle {
        text-align: left;
        color: var(--wm-color-primary);
        text-transform: uppercase;
        margin: 0;
        padding: 15px 0 0;
        font-size: var(--wm-font-xsm);
        font-weight: var(--wm-font-weight-light);
      }
      .webmapp-card-big-title {
        text-align: left;
        color: var(--wm-color-dark);
        margin: 0;
        padding: 5px 0 0;
        font-size: var(--wm-font-md);
        font-weight: var(--wm-font-weight-normal);
        &::first-letter {
          text-transform: uppercase;
        }
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        /* white-space: nowrap; */
        overflow: hidden;
        text-overflow: ellipsis;
      }

      .webmapp-card-big-subtitle-skeleton {
        margin: 15px 0 0;
        height: var(--wm-font-xsm);
        width: 50%;
      }
      .webmapp-card-big-title-skeleton {
        margin: 5px 0 0;
        height: var(--wm-font-md);
        width: 70%;
      }
    }

    .webmapp-card-big-distance {
      text-align: left;
      color: var(--wm-color-darkgrey);
      height: var(--wm-font-sm);
    }
  }
}
