<div class="webmapp-downloadpanel">
  <ion-label *ngIf="isInit" class="webmapp-downloadpanel-status"
    >{{'pages.route.downloadpanel.download' | wmtrans}}
  </ion-label>
  <ion-label *ngIf="isDownloading" class="webmapp-downloadpanel-status">{{'pages.route.downloadpanel.downloading' |
    wmtrans}}</ion-label>
  <ion-label
    *ngIf="isDownloaded"
    class="webmapp-downloadpanel-status"
    >{{track?.properties.name | wmtrans}}</ion-label
  >
  <ion-label *ngIf="isInit || isDownloading" class="webmapp-downloadpanel-title"
    >{{track?.properties.name | wmtrans}}
  </ion-label>
  <ion-label *ngIf="isDownloaded" class="webmapp-downloadpanel-title">{{'pages.route.downloadpanel.complete' |
    wmtrans}}</ion-label>

  <ion-button *ngIf="isInit" class="webmapp-downloadpanel-button" (click)="start()">
    {{'pages.route.downloadpanel.downloadbtn' | wmtrans}}</ion-button
  >

  <div *ngIf="isDownloading">
    <div *ngFor="let element of downloadElements" class="webmapp-downloadpanel-element">
      <ion-label class="webmapp-downloadpanel-element-title"
        >{{'pages.route.downloadpanel.' + element.name | wmtrans}}
      </ion-label>
      <ion-label class="webmapp-downloadpanel-element-value"
        >{{element.value*100 | number : "0.0-0"}}%
      </ion-label>
      <ion-progress-bar
        class="webmapp-downloadpanel-element-progress"
        color="primary"
        [value]="element.value"
      ></ion-progress-bar>
    </div>
  </div>

  <ion-label *ngIf="isDownloading" class="webmapp-downloadpanel-advice">{{'pages.route.downloadpanel.dontclose' |
    wmtrans}}</ion-label>

  <ion-button *ngIf="isDownloaded" class="webmapp-downloadpanel-button" (click)="gotoDownloads()">
    {{'pages.route.downloadpanel.gotobtn' | wmtrans}}</ion-button
  >
</div>
