wm-download-panel {
  .webmapp-downloadpanel {
    width: 100%;
    height: auto;
    max-height: 80vh;
    overflow-y: scroll;
    padding: 10px 0;
  }

  .webmapp-downloadpanel-status {
    font-size: var(--wm-font-sm);
    color: var(--wm-color-darkgrey);
    display: block;
  }

  .webmapp-downloadpanel-title {
    font-weight: var(--wm-font-weight-bold);
    font-size: var(--wm-font-lg);
    color: var(--wm-color-dark);
    display: block;
    padding: 15px 0;
  }

  .webmapp-downloadpanel-element-title {
    padding: 30px 0 0;
    font-weight: 300;
    font-size: 12px;
    display: block;
  }

  .webmapp-downloadpanel-element-value {
    padding: 5px 0;
    display: block;
    font-weight: var(--wm-font-weight-bold);
    font-size: var(--wm-font-xxlg);
  }
  .webmapp-downloadpanel-element-progress {
    &::part(track) {
      background-color: transparent;
    }
  }

  .webmapp-downloadpanel-advice {
    font-size: var(--wm-font-sm);
    padding-top: 20px;
    display: block;
  }

  .webmapp-downloadpanel-button {
    width: 99%;
    --border-radius: 36px;
    --background: var(--wm-color-primary);
  }
}
