<h3>Esempio</h3>
<webmapp-title class="wm-core-demo-component">Contenuto titolo</webmapp-title>
<br />
<div>
  <a
    class="wm-core-demo-figma-link"
    target="_blank"
    href="https://www.figma.com/file/asngSNMmuSZEamZOQuhdPI/wm-core?type=design&node-id=26%3A1586&mode=design&t=6N5ZoKvsilN11BAE-1"
    >Figma</a
  >
</div>
<div class="wm-core-demo-description">
  <h3>Descrizione del componente webmapp-title</h3>
  <p>
    Il componente webmapp-title è progettato per fornire un titolo ben formattato e facilmente
    personalizzabile per la tua applicazione. Grazie alla sua semplice struttura basata su
    <ng-content></ng-content>, esso consente di inserire qualsiasi contenuto desiderato tra i tag
    del componente, che verrà poi visualizzato con le proprietà di stile predefinite del componente
    stesso. Queste proprietà includono una dimensione del carattere di 21px, un peso del carattere
    di 700, un'interlinea di 25px, e una formattazione del testo allineata a sinistra. Inoltre,
    grazie all'uso delle variabili CSS, è possibile personalizzare il font utilizzato, fornendo una
    flessibilità maggiore nella scelta dell'aspetto del titolo. La strategia di rilevamento delle
    modifiche OnPush garantisce che il componente venga ricontrollato solo quando i suoi input
    cambiano, offrendo prestazioni ottimizzate. Infine, l'encapsulation ViewEncapsulation.None
    garantisce che gli stili del componente possano essere sovrascritti facilmente se necessario.
  </p>
</div>
