<h3>Esempio</h3>
<div>
  <wm-search-box class="wm-core-demo-component" [data]="demoCard"></wm-search-box>
</div>
<br />
<div>
  <a
    class="wm-core-demo-figma-link"
    target="_blank"
    href="https://www.figma.com/file/asngSNMmuSZEamZOQuhdPI/wm-core?type=design&node-id=60%3A6477&mode=design&t=FoMzhp5AmdLLyzZN-1"
    >Figma</a
  >
</div>
<div class="wm-core-demo-description">
  <h3>Descrizione del componente wm-search-box</h3>
  <p>
    Il componente `wm-search-box` è una soluzione chiave per la presentazione dei risultati di
    ricerca nel tuo progetto Angular. Progettato come un elemento card, integra l'immagine, il
    titolo, il sottotitolo e altre proprietà correlate all'oggetto di ricerca.
  </p>
  <p>
    L'input principale di questo componente è la proprietà `data`. Questo oggetto contiene diverse
    informazioni:
  </p>
  <ul>
    <li><strong>feature_image:</strong> L'URL dell'immagine da visualizzare nella card.</li>
    <li><strong>name:</strong> Il titolo principale della card.</li>
    <li><strong>taxonomyWheres:</strong> Un sottotitolo o una categoria per ulteriori dettagli.</li>
    <li><strong>distance:</strong> La distanza associata, se applicabile.</li>
    <li><strong>size:</strong> La dimensione dell'oggetto o del file, se pertinente.</li>
    <li>
      <strong>taxonomyActivities:</strong> Attività o caratteristiche associate, presentate come
      icone e testo.
    </li>
  </ul>
  <p>
    La flessibilità di `wm-search-box` permette di adattarsi a vari scenari di utilizzo, dalla
    visualizzazione di percorsi trekking alla presentazione di file o prodotti. La sua struttura
    modulare e le sue proprietà personalizzabili lo rendono un'aggiunta essenziale per qualsiasi
    progetto che richieda una presentazione chiara e concisa dei dati.
  </p>
</div>
