wm-tab-detail {
  display: block;
  margin: var(--wm-feature-details-margin);
  .webmapp-pageroute-tabdetail-chart {
    // height: 200px;
    text-align: center;
    width: 100%;
    display: block;
    padding: 0 10px;
  }
  .webmapp-title {
    font-weight: var(--wm-feature-details-title-font-weight);
    font-size: var(--wm-feature-details-title-font-size);
    color: var(--wm-feature-details-title-color);
  }
  .webmapp-pageroute-tabdetail-label {
    color: var(--wm-color-dark);
  }

  .webmapp-pageroute-tabdetail-icon {
    color: var(--wm-color-primary);
    padding: 0 5px;
  }

  .webmapp-pageroute-tabdetail-value {
    color: var(--wm-color-dark);
    font-weight: var(--wm-font-weight-bold);
  }
}
