<div class="webmapp-pageroute-map-container">
  <wm-map
    #wmap
    [wmMapConf]="confMap$|async"
    [wmMapPadding]="mapPadding$|async"
    [wmMapDisableFitView]="enableRecorderPanel$|async"
    [wmMapFilters]="apiElasticState$|async"
    [wmMapTranslationCallback]="translationCallback"
    [wmMapEnableMapControls]="true"
    (wmMapOverlayEVT$)="setWmMapFeatureCollection($event)"
    [wmMapFeatureCollection]="(wmMapFeatureCollectionOverlay$|async)!= null"
    [wmMapFeatureCollectionOverlayUnselect]="wmBackOfMapDetails$|async"
    [wmMapFeatureCollectionOverlay]="wmMapFeatureCollectionOverlay$|async"
    (wmMapStateEvt)="setLoader($event)"
    (wmMapToggleDataEVT$)="toggleDirective($event)"
    (wmMapFeatureCollectionLayerSelected)="selectedLayerById($event);wmap.wmMapCloseTopRightBtnsEVT$.emit('')"
    (wmMapFeatureCollectionPopup)="openPopup($event);wmap.wmMapCloseTopRightBtnsEVT$.emit('')"
    (wmMapEmptyClickEVT$)="openPopup(null)"
    [wmMapGeojson]="(enableTrackRecorderPanel$|async) ? (recordedTrack$|async) : null"
    wmMapPosition
    [wmMapPositioncurrentLocation]="currentPosition$|async"
    [wmMapPositionCenter]="centerPositionEvt$|async"
    [wmMapPositionZoomCurrentLocation]="enablePoiRecorderPanel$|async"
    [wmMapPositionfocus]="wmMapPositionfocus$|async"
    wmMapCustomTracks
    [wmMapCustomTrackDrawTrack]="drawTrackOpened$|async"
    [wmMapCustomTrackDrawTrackHost]="graphhopperHost$|async"
    [reloadCustomTracks]="(currentCustomTrack$|async) == null"
    (currentCustomTrack)="saveCurrentCustomTrack($event)"
    wmMapLayer
    [jidoUpdateTime]="confJIDOUPDATETIME$|async"
    [wmMapLayerDataLayerUrls]="dataLayerUrls$|async"
    [wmMapLayerLayer]="currentLayer$|async"
    [wmMapLayerRefresh]="refreshLayer$|async"
    [wmMapLayerEnableFeaturesInViewport]="confOPTIONSShowFeaturesInViewport$|async"
    [wmMapLayerShowFeaturesInViewport]="showFeaturesInViewport$|async"
    [wmMapLayerDisableLayers]="wmMapEcTracksDisableLayer$|async"
    [wmMapLayerZoomFeaturesInViewport]="zoomFeaturesInViewport$|async"
    (colorSelectedFromLayerEVT)="trackColor$.next($event)"
    (featuresInViewportEVT)="featuresInViewport($event)"
    wmMapPois
    [wmMapInputTyped]="apiSearchInputTyped$|async"
    [wmMapPoisPoi]="currentEcPoiId$|async"
    [wmMapPoisPois]="pois$|async"
    [wmMapPoisFilters]="poiFilterIdentifiers$|async"
    [WmMapPoisUnselectPoi]="resetSelectedPoi$|async"
    [wmMapPoisDisableClusterLayer]="wmMapEcPoisDisableLayer$|async"
    (currentPoiEvt)="setPoi($event)"
    wmMapTrack
    [track]="track$|async"
    [trackElevationChartElements]="trackElevationChartHoverElements$|async"
    (trackSelectedFromLayerEVT)="updateEcTrack($event)"
    wmMapTrackRelatedPois
    [related-current-ec-poi-id]="currentRelatedPoiID$|async"
    (related-poi)="setCurrentRelatedPoi($event)"
    (related-poi-next)="currentPoiNextID$.next(+$event)"
    (related-poi-prev)="currentPoiPrevID$.next(+$event)"
    [wmMapReletedPoisDisableClusterLayer]="wmMapEcPoisDisableLayer$|async"
    wmMapHitMapCollection
    [wmMapHitMapUrl]="wmMapHitMapUrl$|async"
    [wmMapHitMapChangeFeatureById]="wmMapHitMapChangeFeatureById$|async"
    (wmMapHitMapfeatureClicked)="updateCurrentHitmapFeatureID($event)"
    [wmMapUgcTracks]="ugcTracks$|async"
    [wmMapUgcTrackDisableLayer]="wmMapUgcDisableLayers$|async"
    (ugcTrackSelectedFromMapEVT)="updateUgcTrack($event)"
    [wmMapUgcPois]="ugcPois$|async"
    [wmMapUgcPoiDisableClusterLayer]="wmMapUgcDisableLayers$|async"
    [wmMapUgcPoi]="currentUgcPoi$|async"
    [wmMapUgcUnselectedPoi]="resetSelectedUgcPoi$|async"
    (currentUgcPoiEvt)="setUgcPoi($event)"
    wmMapDrawUgcPoi
    [wmMapDrawUgcPoiEnabled]="drawPoiOpened$|async"
    [wmMapDrawUgcPoiPoi]="currentUgcPoiDrawn$|async"
    (wmMapDrawUgcPoiEvt)="updateUgcPoiDrawn($event)"
  >
    <wm-filters
      top-right
      #filterCmp
      [wmFiltersClose]="wmap.wmMapCloseTopRightBtnsEVT$|async"
      (lastFilterTypeEvt)="updateLastFilterType($event)"
      (filterPoisEvt)="updatePoiFilter($event)"
      (filterTracksEvt)="updateTrackFilter($event)"
      (removefilterTracksEvt)="removeTrackFilter($event)"
      (removefilterPoiEvt)="updatePoiFilter($event)"
      (resetFiltersEvt)="resetFilters()"
      (click)="wmap.wmMapCloseTopRightBtns = 'wm-filters'"
    ></wm-filters>
    <wm-profile-popup top-right></wm-profile-popup>
    <wm-draw-ugc-button
      *ngIf="(confShowDraw$|async) && !(isMobile$|async)"
      top-right
    ></wm-draw-ugc-button>
    <div class="bottom-right" bottom-right>
      <ng-content select="[bottom-right]"></ng-content>
    </div>

    <ion-progress-bar
      bottom
      type="indeterminate"
      color="primary"
      *ngIf="(loading$|async)"
    ></ion-progress-bar>
  </wm-map>
  <ng-content></ng-content>
  <wm-features-in-viewport *ngIf="showFeaturesInViewport$|async"></wm-features-in-viewport>
</div>
