wm-feature-useful-urls {
  display: block;
  margin: var(--wm-feature-details-margin);
  .wm-feature-useful-urls-item {
    .wm-feature-useful-urls-item-label {
      font-family: var(--wm-font-family-content);
    }
    ion-icon {
      color: var(--wm-color-primary);
    }
  }
  .webmapp-title {
    font-weight: var(--wm-feature-details-title-font-weight);
    font-size: var(--wm-feature-details-title-font-size);
    color: var(--wm-feature-details-title-color);
  }
}
